@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-xs: 30rem;
  --color-background: #fffffc;
  --color-base: #170f11;
  --color-primary: #4062bb;
  --color-secondary: #f45b69;
  --color-accent: #59c3c3;
}

@layer base {
  main {
    @apply px-4 py-2;
  }
  h1 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
  }
  h3 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
  }
  p {
    @apply max-w-2xl;
  }
}

body {
  background: var(--color-background);
  color: var(--color-base);
}
